# ===============================
# Environment variables (SECRETS)
# ===============================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
uploads


# ===============================
# Node / Backend
# ===============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# Build outputs
# ===============================
dist/
build/

# ===============================
# React / Frontend
# ===============================
.cache/
.parcel-cache/
.vite/

# ===============================
# OS / Editor junk
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# MongoDB local data (if any)
# ===============================
data/
